@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");

body {
  font-family: "Quicksand", sans-serif;
}
.cursive {
  font-weight: 700;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 150px;
}

#menu-toggle:checked + #menu {
  display: block;
}

.logo {
  font-family: "Reggae One", cursive;
}

.hero {
  background-image: url("./images/hero_web.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

.image-holder {
  width: 250px;
}
.image-sketch {
  width: 35%;
}

.image-holder,
.image-sketch img {
  max-width: 100%;
}

.notfound {
  height: 88vh;
}

.search {
  min-width: 240px;
  outline: none;
}

.buttonload {
  background-color: #f5f82d; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 24px; /* Some padding */
  font-size: 16px; /* Set a font-size */
  width: 95%;
  top: 40%;
  left: 40%;
  align-items: center;
}

/* Add a right margin to each icon */
.fa {
  margin-left: -12px;
  margin-right: 8px;
}

@media (max-width: 900px) {
  .image-sketch {
    width: 85%;
    margin: 0 auto;
  }

  .hero {
    background-image: url("./images/comic1.jpg");
  }

  .landing-section {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .homeh1 {
    color: rgb(240, 242, 245);
    font-weight: 700;
    margin-top: 3rem;
  }
}
